/* CSS reset - Inìcio */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,7;
    color: rgb(100, 100, 100);
    padding: 3%;
}
html{
    font-size: 62.5%;
}
/* CSS reset - Fim */

/* Cabeçalho - Inicil*/
header{
    height: 96vh;
    background-image: linear-gradient(
        to bottom right,
        rgba(152, 116, 245, 0.9),
        rgba(31, 2, 255, 0.8)),
        url(/images/fundoHTML.jpeg);
    background-size: cover;
    clip-path: polygon(0 20%, 0 100%, 100% 70%,100% 0 );
    position: relative;
}
.textoHeader{
    position: absolute;
    left: 15%;
    right: 15%;
    top: 20%;
    transform: translate(0%,50%);
    text-align: center;
    color: rgb(187, 241, 241);
    text-transform: uppercase;
}
.textoHeader h1{
    font-size: 4rem;
    letter-spacing: .8rem;
    text-shadow: .5rem 1rem 1rem #0817c5;
    animation: entradaPorCima 1s;
}
.textoHeader h2{
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 700;
    text-shadow: .5rem .5rem 1rem #000;
    margin-top: 2rem;
    margin-bottom: 5rem;
    animation: entradaPorBaixo 1s;
}
.textoHeader a,
.textoHeader a:visited{
    text-decoration: none;
    background-color: silver;
    border-radius: 5rem;
    display: inline-block;
    padding:1.5rem 4rem;
    animation: entrada 1s .5s;
    animation-fill-mode: backwards;
}
.textoHeader a:hover{
    transform: translateY(-.5rem);
    box-shadow: .5rem 1.5rem 3.5rem #000;
}
.textoHeader a:active{
    transform: translateY(-.2rem);
    box-shadow: .5rem .5rem 1.5rem #000;
}
.foto{
    position: absolute;
    top: 6rem;
    right: 3rem;
    animation: foto 1s;
}
.foto img{
    height: 18rem;
    border-radius:100%
}
/*cabeçalho - fim*/

/* Main - inicio*/
main .sobreMim{
    background-color:#ccc;
    padding-top: 30rem;
    padding-bottom:30rem ;
    margin-top: -30rem;
}
main .sobreMim h3{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
main .sobreMim .container{
    display: flex;
}
main .texto{
    width: 40%;
    margin-right: 5rem;
}       
#conteudoSobreMim{
   padding-left: 2rem;
   padding-right: 2rem; 
}
#conteudoSobreMim h4{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
#conteudoSobreMim p {
    text-align: justify;
}
#conteudoSobreMim P:not(:last-child){
    margin-bottom: 5rem;
}
.fotos{
    width: 50%;
    position: relative;
} 
.fotos img {
    position: absolute;
    width: 15vw;
    top:5rem;
    transition: all .2s;
}
.fotos img:first-child{
    left: 5rem;
    top: 5rem;
    z-index: 2;
}
.fotos img:nth-child(2){
    left:18rem;
    top: 8rem;
    z-index: 1;
}
.fotos img:last-child{
    left:40rem;
    top: 5rem;
    z-index: 3;
}
.fotos img:hover{
    z-index: 5;
    outline: 1rem solid rgba(31, 2, 255, 0.8);
    outline-offset: .5rem;
}
/* Main - fim*/
.habilidades {
    background-image: linear-gradient(
        to bottom right,
        rgba(152, 116, 245, 0.9),
        rgba(31, 2, 255, 0.8)),
        url(/images/fundo2.png);
    transform:skewX(deg);
    position:relative;
    z-index: 1;
    margin-top: -20rem;
    padding: 20rem;
    height: 120vh;
   
}
.habilidades h4,
.habilidades .skills {
    transform: skewX(-8deg);
}
.habilidades h4{
    color:rgb(26, 2, 244);
    text-align: center;
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 900;
    margin-bottom: 5rem;
}
.habilidades .skills{
    display: flex;
    justify-content: space-evenly;
}
.habilidades .card {
    position: relative;
    perspective: 150rem;
    -webkit-perspective: 100rem;
    width: 28vw;
    height: 70rem;
}
.habilidades .frente {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(11, 73, 11, 0.954);
    backface-visibility: hidden;
    border-radius:1rem;
    transition: all .9s ease-in-out;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.6);
}
.habilidades .verso {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(11, 73, 11);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 1rem;
    transition: all .9s ease-in-out;
    box-shadow:0 1.5rem 4rem rgba(0,0,0,.6);
}
.habilidades .card:hover .frente{
    transform: rotateY(-180deg);
}
.habilidades .card:hover .verso{
    transform: rotateY(0deg);
}
.habilidades .destaque{
    background-blend-mode: color;
    background-size: cover;
    height: 40%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.habilidades ul li{
    list-style-type: none;
    width: 80%;
    margin: 1rem auto;
    color: honeydew;
    padding: 2rem 3rem;
    border-bottom: 2px solid #f25151;
}
.habilidades .destaque h5{
    font-size: 2.8rem;
    font-weight: 40rem;
    text-transform: uppercase;
    color:aliceblue;
    position: absolute;
    text-align: right;
    padding-bottom: 5rem;
    top: 10%;
    left: 40%;
}
.habilidades .front .destaque{
    background-image: linear-gradient(to bottom right,#2804f2,#e90303), url(../images/fundoHTML.jpeg);
}
.habilidades .front .destaque h5{
    background-color:rgba(151, 18, 18, 0.9) ;
}
.habilidades .back .destaque{
    background-image: linear-gradient(to bottom right, #459631, #1e1bef), url(../images/fundoHTML.jpeg);
}
.habilidades .back .destaque h5{
    background-color: #1f1befe7;
}
.habilidades .muito .destaque{
    background-image: linear-gradient(to bottom right, #08f42f, #dbf704), url(../images/fundoHTML.jpeg);
}
.habilidades .muito .destaque h5{
    background-color: #0a8b06eb;
}
.habilidades .card .verso h5{
    font-size: 5rem;
    padding: 3rem 3rem;
}
.habilidades .front .verso{
    background-image: linear-gradient(to bottom right, #270505, #060445);
    color:blanchedalmond;
}
.habilidades .back .verso{
    background-image: linear-gradient(to bottom right, #4657d5, #05223c);
    color:blanchedalmond;
}
.habilidades .muito .verso{
    background-image: linear-gradient(To bottom right, rgba(3, 96, 25, 0.775), #953232);
    color:blanchedalmond;
}
.testemunhos{
    position: relative;
}
.testemunhos video{
    width: 100%;
    margin-top: -8rem;
    z-index: -3;
    margin-block-start: -25rem;
}
.testemunhos .comentarios{
    background-color: #b5b3b356;
    width: 100%;
    z-index: 0;
    padding-top: 20rem;
    position: absolute;
    top: -10rem;
    left:0;
}
.comentarios h3{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 7rem;
    color: #f5f6f3;
}
.comentarios .item1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50rem;
}
.item{
    position:relative;
    margin-bottom: 12rem;
    width: 80%;
    background-color: #ccc1cc;
    transform: skewX(-20deg);
}.item *{
    transform: skewX(12deg);
}
.item figure img{
    border-radius: 80%;
    width: 8%;
    padding: 1rem;
    margin-left: 4rem;
}
.item figure figcaption{
    position: absolute;
    bottom: 0;
    left : 13rem;
    font-size: 2rem;
    color: #4f4e4e;
    opacity: 0;
    transition: all .2s;
}
.item figure:hover figcaption{
    opacity: 1;
    bottom: .5rem;
}
.item p{
    width: 80%;
    float:right;
    margin-top: -8rem;
}
footer{
    padding: 5rem;
    background-color:#000;
    margin-top: -2rem;
    text-align: center;
    font-style: oblique;

}
/* animações - inicil*/
@keyframes entradaPorCima{
    0%{
      opacity: 0;
      transform: translateY(-10rem);
    }
    80%{
      transform: translateY(5rem);  
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes entradaPorBaixo{
    0%{
      opacity: 0;
      transform: translateY(0);
    }
    100%{
      opacity: 1;
      transform: translateY(-2rem);
    }
}
@keyframes entrada{
    0%{
      opacity: 0;
      transform: translateZ(0);
    }
    100%{
      opacity: 1;
      transform: translateZ(5rem);
    }
}
@keyframes foto{
    0%{
        transform: scale(0) rotate3d(80, 0, 80, 360deg);
    }
    100%{
transform: scale(1);
    }
}    
/*animações - fim*/
